* {
    color: rgb(0, 30, 0);
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 14px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(189, 216, 140);
    height: 100%;
}

body > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

header {
    min-height: 60px;
    background-color: rgb(127, 149, 88);
    border-bottom: 1px solid rgb(0, 60, 0);
    display: flex;
    align-items: center;
    box-shadow: inset 0px 5px 25px 10px rgba(35, 50, 40, 0.75);
}

header nav {
    position: relative;
    bottom: -12px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex: 1 0 auto;
}

header h1 {
    z-index: 1;
    position: relative;
    bottom: -1px;
    background: rgb(189, 216, 140);
    border-top: 1px solid rgb(0, 60, 0);
    border-left: 1px solid rgb(0, 60, 0);
    border-right: 1px solid rgb(0, 60, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-top: 1px solid rgb(0, 60, 0); 
    border-left: 1px solid rgb(0, 60, 0); 
    border-right: 1px solid rgb(0, 60, 0); */
    box-shadow: 0px 5px 30px 10px rgba(35, 50, 40, 0.5);
    color: rgb(0, 60, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20pt;
    letter-spacing: 4px;
    font-weight: 100;
    text-align: right;
    padding: 10px;
    margin-left: 5%;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

header ul {
    margin-left: 30%;
    margin-right: 5%;
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex: 1 0 auto;
}

header a {
    text-decoration: none;
    height: 50px;
    width: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    bottom: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 5px 10px 5px rgba(35, 50, 40, 0.5);
    color: rgb(0, 60, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: 100;
    background-color: rgb(175, 198, 132);
    text-wrap: nowrap;
}

#about {
    z-index: 5;
}

#portfolio {
    z-index: 4;
}

#contact {
    z-index: 3;
}

#resume {
    z-index: 2;
}

.active-link {
    z-index: 2;
    position: relative;
    bottom: -1px;
    background-color: rgb(189, 216, 140);
    border-top: 1px solid rgb(0, 60, 0);
    border-left: 1px solid rgb(0, 60, 0);
    border-right: 1px solid rgb(0, 60, 0);
    color: rgb(0, 60, 0);
    font-style: italic;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* <hr> */

hr {
    max-width: 600px;
    min-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.5px solid rgba(0, 30, 0, 0.25);
}

/* main */

main {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

.mainCard {
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100vw;
    padding-top: 50px;
    background-color: rgb(189, 216, 140);
}

.mainCard h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* about me */

#about-me {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    flex: 0 0 auto;
}

#about-me p {
    max-width: 500px;
    min-width: 250px;
    padding-left: 20px;
    text-align: justify;
    line-height: 1.6em;
    border-left: 2px;
    border-left-color: rgb(0, 60, 0);
    border-left-style:double;
}

#about-me p::first-letter {
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
}

#avatar {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 30px;
    position: sticky;
    top: 0px;
}

/* my portfolio */

#my-work {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(50px, 40vw));
    max-width: 900px;
    column-gap: 10px;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    row-gap: 10px;
    flex: 1 1 auto;
}

#app-1 {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    flex: 1 1 auto;
}

#app-1 img {
    width: 100%;
    object-fit:cover;
}

#app-2 {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#app-2 img {
    width: 100%;
    object-fit:cover;
}

#app-3 {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#app-3 img {
    width: 100%;
    object-fit:cover;
}

#app-4 {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    flex: 0 1 auto;
}

#app-4 img {
    width: 100%;
    object-fit:cover;
}

#app-5 {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#app-5 img {
    width: 100%;
    object-fit:cover;
}

#app-6 {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#app-6 img {
    width: 100%;
    object-fit:cover;
}

#my-work img {
    border-radius: 20px;
}

#my-work img:hover {
    opacity: 50%;
    box-shadow: inset 0px 5px 5px 5px rgba(35, 50, 40, 0.75);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(250, 250, 240);
}

/*

.large-image {
    max-height: 500px;
}



.large-image:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(250, 250, 240);
}

.small-image {
    max-width: 740px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.small-image div:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(250, 250, 240);
}

.small-image div {
    width: 370px;
    height: 250px;
}

.small-image p {
    height: 30px;
    width: 250px;
    bottom: 75px;
    padding-left: 50px;
    padding-top: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(250, 250, 240);
    background-color: rgba(80, 90, 60, 0.75);
}

*/

/* contact me */

#contact-me {
    display: flex;
    justify-content: center;
    margin: 20px;
    line-height: 1.2em;
}

#contact-me h3 {
    width: 200px;
    margin: 10px;
    text-align: right;
    font-weight: bolder;
}

#contact-me div {
    width: 200px;
    margin: 10px;
    line-height: 1.4em;
}

#contact-me div div {
    line-height: 2em;
}

/* footer */

footer {
    background: rgb(189, 216, 140);
    width: 100vw;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

footer nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

footer a {
    text-decoration-line: none;
}

#github-logo {
    height: 30px;
    margin-top: 10px;
}

.footer-link-active {
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 3px;
}


/* media queries - when device is 740px or smaller */

@media (max-width: 740px) {
    header {
        min-height: 60px;
        margin-bottom: 20px;
        background-color: rgb(202, 224, 162);
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0px 10px rgba(35, 50, 40, 0.4);
        flex-direction: column;
        align-items: center;
    }

    header nav {
        margin-left: 0px;
    }

    header h1 {
        text-align: center;
        padding: 20px;
        margin-left: 0px;
    }

    header ul {
        padding: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header li {
        padding: 10px;
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    #about-me {
        padding: 10px;
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }

    #avatar {
        position: static;
    }

    hr {
        min-width: 75vw;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0.5px solid rgba(0, 30, 0, 0.25);
    }

    .large-image {
        height: 250px;
    }

    #app-1 {
        width: 350px;
        height: 230px;
    }

    .large-image p {
        height: 30px;
        width: 250px;
        bottom: 75px;
        padding-left: 50px;
        padding-top: 7px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: relative;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 100;
        color: rgb(250, 250, 240);
        background-color: rgba(80, 90, 60, 0.75);
    }

    #contact-me {
        margin: 0px;
        h3 {
            width: 50%;
        }
        div {
            width: 50%;
        }
    }
}